body{
    height: 100vh;
    margin: 0;
    background-color: #3B4664;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calc_container
{
    height: 500px;
    width:400px;
    /* background-color: #00000040; */
}
.result_area
{
    height: 100px;
    background-color:#181F32;
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: center;

}

.operation_area{
    margin-top: 20px;
    height: 310px;
    background-color: #00000040;
    border-radius: 5px;
    padding: 30px;
}
.key
{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin-top: 10px;

}
.btn
{
    background-color: #EAE3DB;
    width:70px;
    height: 50px;
    border-radius:12px;
    font-family: inter;
    font-weight: bold;
    font-size: 20px;
    
}
.btn_last
{
    width: 160px;
    height: 50px;
    border-radius: 12px;
    background-color: #EAE3DB;
    font-family: inter;
    font-weight: bold;
    font-size: 20px;
    
}
.btn_del
{
    background-color:#3B4664 ;
    color: aliceblue;
}

.btn_reset
{
    background-color:#3B4664 ;
    color: aliceblue;
}
.btn_equal
{
    background-color: #D13F30;
    color: aliceblue;
    
}


.textarea {
    width: 90%;
    height: 40px;
    border: none;
    resize: none;
    border-radius: 12px;
    font-family: inter;
    font-weight: bold;
    font-size: 30px;
    background-color: #181F32;
    color: aliceblue;
    text-align: right;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    border-color: transparent;
}
